# 1. Business Understanding

The retail industry is highly competitive, and pricing plays a crucial role in attracting customers and maximizing profits. Pricing decisions are complex and influenced by various factors such as cost of goods sold (COGS), market demand, competition, and desired profit margins. So, companies need to optimize their pricing strategies to find the middle ground that maximizes sales while maintaining profitability.

# 2. Data Understanding

-  Source: The data used was gotten from [Kaggle](https://www.kaggle.com/datasets/suddharshan/retail-price-optimization?resource=download)
- Content: The data contains the demand and corresponding average unit price at a product - month_year level
- Format: The data used was in a CSV file format

The columns in the data are :

- product_id: A unique identifier for each product in the dataset.
- product_category_name: The name of the product category to which the product belongs.
- month_year: The month and year of the retail transaction or data recording.
- qty: The quantity of the product sold or purchased in a given transaction.
- total_price: The total price of the product, including any applicable taxes or discounts.
- freight_price: The cost of shipping or freight associated with the product.
- unit_price: The price of a single unit of the product.
- product_name_length: The length of the product name in terms of the number of characters.
- product_description_length: The length of the product description in terms of the number of characters.
- product_photos_qty: The number of photos available for the product in the dataset.
- product_weight_g: The weight of the product in grams.
- product_score: A score or rating associated with the product’s quality, popularity, or other relevant factors.
- customers: The number of customers who purchased the product in a given transaction.
- weekday: The day of the week on which the transaction occurred.
- weekend: A binary flag indicating whether the transaction occurred on a weekend (1) or not (0).
- holiday: A binary flag indicating whether the transaction occurred on a holiday (1) or not (0).
- month: The month in which the transaction occurred.
- year: The year in which the transaction occurred.
- s: the effect of seasonality
- comp_1, comp_2, comp_3: Competitor information or variables related to competitors’ prices, promotions, or other relevant factors.
- ps1, ps2, ps3: Product score or rating associated with competitors’ products.
- fp1, fp2, fp3: Freight or shipping cost associated with competitors’ products.

# 3. Data Preparation

In [4]:
# importing libraries

import pandas as pd
from matplotlib import pyplot as plt

In [20]:
# setting to see all columns and rows

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [12]:
# importing the data

data = pd.read_csv(r'C:\Users\w.selen.KEEMBLT0011\Desktop\Mercy\DataScience\Retail Price Optimization\data\raw\archive\retail_price.csv')

# previewing the data

data.head()

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_score,customers,weekday,weekend,holiday,month,year,s,volume,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
0,bed1,bed_bath_table,01-05-2017,1,45.95,15.100000,45.95,39,161,2,350,4.0,57,23,8,1,5,2017,10.267394,3800,89.9,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.90
1,bed1,bed_bath_table,01-06-2017,3,137.85,12.933333,45.95,39,161,2,350,4.0,61,22,8,1,6,2017,6.503115,3800,89.9,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.95
2,bed1,bed_bath_table,01-07-2017,6,275.70,14.840000,45.95,39,161,2,350,4.0,123,21,10,1,7,2017,12.071651,3800,89.9,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.95
3,bed1,bed_bath_table,01-08-2017,4,183.80,14.287500,45.95,39,161,2,350,4.0,90,23,8,1,8,2017,9.293873,3800,89.9,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.95
4,bed1,bed_bath_table,01-09-2017,2,91.90,15.100000,45.95,39,161,2,350,4.0,54,21,9,1,9,2017,5.555556,3800,89.9,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.95

In [13]:
# checking the shape of the data

print(f"The data has {data.shape[0]} rows and {data.shape[1]} columns")

The data has 676 rows and 30 columns

In [17]:
# checking the statistics of the data

data.describe().T

,count,mean,std,min,25%,50%,75%,max
qty,676.0,14.495562,15.443421,1.000000,4.000000,10.000000,18.000000,122.00
total_price,676.0,1422.708728,1700.123100,19.900000,333.700000,807.890000,1887.322500,12095.00
freight_price,676.0,20.682270,10.081817,0.000000,14.761912,17.518472,22.713558,79.76
unit_price,676.0,106.496800,76.182972,19.900000,53.900000,89.900000,129.990000,364.00
product_name_lenght,676.0,48.720414,9.420715,29.000000,40.000000,51.000000,57.000000,60.00
product_description_lenght,676.0,767.399408,655.205015,100.000000,339.000000,501.000000,903.000000,3006.00
product_photos_qty,676.0,1.994083,1.420473,1.000000,1.000000,1.500000,2.000000,8.00
product_weight_g,676.0,1847.498521,2274.808483,100.000000,348.000000,950.000000,1850.000000,9750.00
product_score,676.0,4.085503,0.232021,3.300000,3.900000,4.100000,4.200000,4.50
customers,676.0,81.028107,62.055560,1.000000,34.000000,62.000000,116.000000,339.00
weekday,676.0,21.773669,0.986104,20.000000,21.000000,22.000000,23.000000,23.00
weekend,676.0,8.658284,0.705600,8.000000,8.000000,9.000000,9.000000,10.00
holiday,676.0,1.494083,0.940430,0.000000,1.000000,1.000000,2.000000,4.00
month,676.0,6.192308,3.243455,1.000000,3.000000,6.000000,8.000000,12.00
year,676.0,2017.525148,0.499737,2017.000000,2017.000000,2018.000000,2018.000000,2018.00
s,676.0,14.644970,11.930276,0.484262,7.510204,11.316760,17.745704,100.00
volume,676.0,10664.627219,9172.801850,640.000000,3510.000000,8000.000000,15750.000000,32736.00
comp_1,676.0,79.452054,47.933358,19.900000,49.910000,69.900000,104.256549,349.90
ps1,676.0,4.159467,0.121652,3.700000,4.100000,4.200000,4.200000,4.50
fp1,676.0,18.597610,9.406537,0.095439,13.826429,16.618984,19.732500,57.23
comp_2,676.0,92.930079,49.481269,19.900000,53.900000,89.990000,117.888889,349.90
ps2,676.0,4.123521,0.207189,3.300000,4.100000,4.200000,4.200000,4.40
fp2,676.0,18.620644,6.424174,4.410000,14.485000,16.811765,21.665238,57.23
comp_3,676.0,84.182642,47.745789,19.900000,53.785714,59.900000,99.990000,255.61
ps3,676.0,4.002071,0.233292,3.500000,3.900000,4.000000,4.100000,4.40
fp3,676.0,17.965007,5.533256,7.670000,15.042727,16.517110,19.447778,57.23
lag_price,676.0,107.399684,76.974657,19.850000,55.668750,89.900000,129.990000,364.00

## 3.1 Data Cleaning

### 3.1.1 Completeness

In [22]:
# checking if the data has missing values

data.isna().sum()

product_id                    0
product_category_name         0
month_year                    0
qty                           0
total_price                   0
freight_price                 0
unit_price                    0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_score                 0
customers                     0
weekday                       0
weekend                       0
holiday                       0
month                         0
year                          0
s                             0
volume                        0
comp_1                        0
ps1                           0
fp1                           0
comp_2                        0
ps2                           0
fp2                           0
comp_3                        0
ps3                           0
fp3                           0
lag_price                     0
dtype: int64

The data has no missing values

### 3.1.2 Data Consistency

In [24]:
# checking if the data has any duplicates

print(f"The data has {data.duplicated().sum()} duplicate rows")

The data has 0 duplicate rows

### 3.1.3 Data Uniformity

In [28]:
# checking the data type of the data

data.dtypes.to_frame('Data Type')

                           Data Type
product_id                    object
product_category_name         object
month_year                    object
qty                            int64
total_price                  float64
freight_price                float64
unit_price                   float64
product_name_lenght            int64
product_description_lenght     int64
product_photos_qty             int64
product_weight_g               int64
product_score                float64
customers                      int64
weekday                        int64
weekend                        int64
holiday                        int64
month                          int64
year                           int64
s                            float64
volume                         int64
comp_1                       float64
ps1                          float64
fp1                          float64
comp_2                       float64
ps2                          float64
fp2                          float64
comp_3                       float64
ps3                          float64
fp3                          float64
lag_price                    float64

In [30]:
data.sample(5)

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_score,customers,weekday,weekend,holiday,month,year,s,volume,comp_1,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price
280,watches6,watches_gifts,01-08-2018,1,112.00,13.440000,112.000000,33,523,3,584,4.2,61,23,8,1,8,2018,10.043037,2288,112.000000,4.2,13.440000,105.00,4.2,23.385714,145.550909,3.8,21.897273,118.363636
382,watches5,watches_gifts,01-11-2017,12,2395.20,19.795000,203.290909,42,236,1,342,4.1,91,22,8,4,11,2017,18.181818,3510,133.000000,4.2,19.916667,108.00,4.2,15.908462,174.433333,3.8,20.992778,216.150000
51,garden7,garden_tools,01-02-2018,8,411.20,14.083750,51.400000,57,339,2,1800,4.2,160,20,8,2,2,2018,14.035088,32560,50.545161,4.1,16.611538,50.90,4.2,17.519444,50.357143,4.1,18.281875,49.900000
482,watches3,watches_gifts,01-08-2017,5,390.00,18.220000,78.000000,59,319,4,250,3.9,48,23,8,1,8,2017,21.976704,640,160.669231,4.2,15.185385,78.00,3.9,18.220000,179.900000,3.8,14.926667,78.000000
72,health9,health_beauty,01-05-2018,7,167.93,7.988571,23.990000,48,575,1,100,4.3,159,23,8,3,5,2018,9.805556,4500,23.990000,4.3,7.988571,79.99,4.1,21.943125,58.990000,3.9,9.422500,23.940000

Most of the data is in their correct data types. The column `month_year` is listed as an onject, while infact it is a datetime data type. This needs to be converted

In [34]:
# converting the data type to date time format

data['month_year'] = pd.to_datetime(data['month_year'])

## Exploratory Data Analysis (EDA)

# 4. Modelling

# 5. Model Evaluation

# 6. Deployment